.tile {
  background-color: grey;
  font-size: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  margin-bottom: 10px;
  min-height: 550px;
}
.feature-container {
  padding: 0 10px;
  overflow: hidden;
}

.feature-name {
  color: #fff;
}

.feature-value {
  color: yellow;
}

.row {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  margin-top: 18px;
  &:last-child {
    border: none;
  }
}
