<app-filter-tiles></app-filter-tiles>
<div class="search-container">
  <div class="search-box">
    <app-search></app-search>
  </div>
  <div class="sort-box">
    <app-sorting></app-sorting>
  </div>
</div>
<div #tileContainer class="row tile-container">
  <div
    *ngFor="
      let item of characters$
        | async
        | filter: getSearchText()
        | attribute: getCheckedAttributeValues()
        | sort: getSortField():getSortOrder()
    "
    class="col-xs-6 col-sm-3"
  >
    <app-single-character [character]="item"></app-single-character>
  </div>
</div>
<h3 *ngIf="!tileContainer.children.length">No match found</h3>
