.tile-container {
  background-color: #000;
  padding-top: 10px;
}

.search-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.search-box {
  margin-bottom: 10px;
  @media (min-width: 768px) {
    width: 50%;
    margin-bottom: 0;
  }
}
.sort-box {
  @media (min-width: 768px) {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
}

div[class^="col-xs"],
div[class^="col-sm"] {
  padding: 0 5px;
}
